@font-face {
  font-family: "B Nazanin";
  src: url("fonts/B-NAZANIN.TFF") format("TFF"),
    url("fonts/B-NAZANIN.TFF") format("TFF");
}

body {
  font-family: "B Nazanin", Tahoma, sans-serif;
  direction: rtl;
  background-color: #f5f5f5;
  padding: 30px;
}

.invoice-container {
  max-width: 800px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 10px;
}

.form-container {
  max-width: 800px;
  margin: auto;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

fieldset {
  border: 2px solid #333;
  margin-bottom: 25px;
  padding: 15px 20px;
  border-radius: 8px;
}

legend {
  padding: 0 10px;
  font-weight: bold;
  font-size: 18px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-row input {
  font-size: 18px;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.header-left input {
  width: 160px;
}

.row {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
  margin-left: 5px;
  flex-wrap: wrap;
}

.row > div {
  flex: 1;
  min-width: 200px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
}

textarea {
  resize: vertical;
  height: 80px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

button {
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn {
  padding: 10px 25px;
  background-color: #4caf50;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  padding: 10px 25px;
  background-color: #e74c3c;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #84ddab;
}

.cancel-btn:hover {
  background-color: #ec7f7f;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.footer {
  display: flex;
  margin-bottom: 15px;
  margin-left: 5px;
  gap: 30px;
}

.footer > div {
  flex: 1;
}

.footerInvoice {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
